dbscan1d==0.2.2
matplotlib==3.6.2
numpy==1.23.4
pandas==2.0.2
pyod==1.0.7
pythresh==0.2.9
scikit_learn==1.2.2
scipy==1.13.0
seaborn==0.13.2
tensorflow
combo
suod
xgboost
ruptures
geomstats
torch
tqdm
openpyxl
kneed==0.8.5
pyts==0.12.0